##############################################
###          Configuration file            ###
##############################################

# Add electrode with the following settings
use_electrode = T
use_dielectric = T

#dielectric%write = T


# Ensure grid spacing around electrode is less than this value:
refine_electrode_dx = 1.000E-05          # was 5.0000E-05

# Whether the electrode is grounded or at the applied voltage:
field_electrode_grounded = F

#field_bc_type="all_neumann"
field_bc_type="homogeneous"


field_electrode_type = "user"

box_size = 8
coarse_grid_size = 64 64

field_rod_radius = 5.0e-4

user_circle_radius = 5.0e-4

# powered (two circles on a line)
user_powered1_rel = 0.30 0.7
user_powered2_rel = 0.60 0.7

# grounded (translated down)
user_grounded1_rel = 0.30 0.2
user_grounded2_rel = 0.60 0.2

cylindrical = F

# The desired endtime in seconds of the simulation:
end_time = 50e-9                          # was 40e-9

# The name of the simulation:
output%name = ./output/1bar_20O2_20ns_interpulse    # was output/streamer_cyl_2pulses

# The length of the (square) domain:
domain_len = 13e-3 13e-3              # was 16e-3 16e-3

# Whether the domain is periodic (per dimension):
periodic = F F

# The gas pressure in bar (used for photoionization):
gas%pressure = 1.0                        # was 0.1000E+01 (same value, just clearer)

# How the electric field or voltage is specified:
field_given_by = "voltage 1000"            # was "voltage 34e3"

# Specifying the pulse parameters
#field_rise_time  = 1.0e-9                 # was 2.5e-9   (old: 0.1000E-08)
#field_pulse_width = 13.0e-9               # was 5.0e-9
#field_num_pulses  = 2
#field_pulse_period = 35e-9                # was 20e-9

# The background ion and electron density in 1/m^3:
background_density = 1.77e10               # was 0.1000E+15

# The timestep for writing output:
output%dt = 5.0e-10                       # was 0.200E-09

# ---- Time step control (from the elaborate cfg) ----
dt_min = 1.0000E-16
dt_safety_factor = 9.0000E-01
dt_chemistry_nmin = 1.0000E+15
#dt_chemistry_limit_loss = F


# ---- Time integrator (from the elaborate cfg) ----
#time_integrator = 'ssprk33'

[photoi]
    enabled = F
    eta = 5.0000E-02
    method = 'helmholtz'
    per_steps = 100
    source_type = 'Zheleznyak'

[photoi_helmh]
    author = 'Bourdon-2'
    max_rel_residual = 1.0000E-02

# Input file with transport data:
#input_data%file = ../../transport_data/BG_20O2.txt   #../../transport_data/air_chemistry_v1.txt  ## was td_air_siglo_swarm.txt
#input_data%file = ../../transport_data/air_chemistry_v0.txt 
input_data%file = ../../transport_data/N2_O2_simple_chemistry.txt
input_data%old_style = F                   # was t

# ---- Ion transport (from the elaborate cfg) ----
#input_data%ion_mobilities = 2.2000E-04  2.2000E-04  2.2000E-04  2.2000E-04  2.2000E-04  2.2000E-04  2.2000E-04
#input_data%mobile_ions    = 'N2_plus' 'O2_plus' 'N4_plus' 'O4_plus' 'O2_min' 'O_min' 'O3_min'
